/* -----Main Color------- */

$primaryColor: #445162;
$white: #fff;
$secondaryColor: #00024D;
$tertiaryColor: #E8E8E8;
$fourthColor: blue;
$fifthColor: #1B51A7;


$colorFont: #445161;
$mainFont: "Arial";
$pageFontSize: 16px;

$titlePage: 30px;
$suptitlePage: 22px;